.ascendion_icon {   
    position: absolute;
    width: 105px;
    height: 105px;
    margin-left: 10px;
    margin-top: 10px;
    background: url(/src/assets/asc.jpg) no-repeat;
    background-size: 105px;
    border-radius: 50%;
}

.title {
    position:relative; 
    font-weight: bold;
    color: #FFFFFF;
    font-family: "Avenir", sans-serif;
    flex-grow: 1;
    font-size: 30px;
    letter-spacing: 0.05em;
}
.home {
    background: url(/src/assets/homedefault.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    font-family: "Avenir" sans-serif;
    border-style: none;
    font-size: 16pt;
    padding-top: 18px;
    /* margin-top: 43px; */
    margin-right: 50px;
    text-align: center; 
  }
  
  .home:hover {
    background: url(/src/assets/homehover.png);
    background-repeat: no-repeat;
    background-position: center;
  }
.signin{
    width: 35px;
    height: 35px;
    /* margin-top: 43px; */
    background: url(/src/assets/login_default.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 50px;
    text-align: center; 
    border-style: none;
}
.signin:hover{
    background: url(/src/assets/login_hover.png);
    background-repeat: no-repeat;
    background-position: center;
    border-style: none;
}
.signout{
    width: 35px;
    height: 35px;
    /* margin-top: 43px; */
    background: url(/src/assets/register_default.png); 
    background-repeat: no-repeat;
    background-position: center;
    text-align: center; 
    border-style: none;
}
.signout:hover{
    background: url(/src/assets/register_hover.png);
    background-repeat: no-repeat;
    background-position: center;
    border-style: none;

}

.reg{
    position: relative;
    font-family: "Avenir", sans-serif;
    font-weight: black;
    font-size: 50px;
    margin-top: 80px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}


.bigin{
    margin-top: 24px;
    font-family: "Avenir", sans-serif;
    font-weight: black;
    font-size: 25px;
    letter-spacing: 0.1em;
    color: #FFFFFF;

}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-items: flex-start;  */
    font-family: "Avenir", sans-serif;
    color: #FFFFFF;
}
.firstnm {
    text-align: left;
    letter-spacing: 0.01em;
    font-size: 16px;
    font-family: "Avenir", sans-serif;
    color: #FFFFFF;
    text-align: top;
    vertical-align: top; 
    
}
.fnl{
    position: relative;
    margin-top: 5px;
    width: 350px;
    height: 40px;
    padding-left: 15px;
    background: #FFFFFF;
    border-style: none;
}

.lastnm {
    text-align: left;
    letter-spacing: 0.01em;
    font-family: "Avenir", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    vertical-align: top; 
    margin-left: 50px;
}

.lnl {
    position: relative;
    margin-top: 5px;
    width: 350px;
    height: 40px;
    background: #FFFFFF;
    border-style: none;
}
.email{
    margin-top: 30px;
    text-align: left;
    letter-spacing: 0.01em;
    font-family: "Avenir", sans-serif;
    font-size: 16px;
    color: #FFFFFF ;

}

.eml{
    position: relative;
    /* text-align: center; */
    width: 350px;
    padding-left: 15px;
    height: 40px;
    margin-top: 5px;
    background: #FFFFFF;
    border-style: none;
    /* border-radius: 12px; */
}
.pasword{
    margin-top: 30px;
    text-align: left;
    letter-spacing: 0.01em;
    margin-left: 50px;
    font-size: 16px;
    font-family: "Avenir", sans-serif;
    color: #FFFFFF;
}

.psl{
    position: relative;
    margin-top: 5px;
    width: 350px;
    height: 40px;
    padding-left: 15px;
    /* text-align: center; */
    background: #FFFFFF ;
    border-style: none;
}
.checkbox{
    /* position: relative; */
    width: 25px;
    height: 25px;
    background: #FFFFFF;
    margin-top: 20px;
    border-radius: 3px;
    margin-right: 720px;

}

.condition{
    letter-spacing: 0.01em;
    padding-top: 5px;
    padding-left: 10px;
    width: 280px;
    font-size: 16px;
    font-family: "Avenir", sans-serif;
    color: #FFFFFF;

}
.log{
    position: relative;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    background-color: #b90d63;
    font-family:"Avenir", sans-serif;
    font-size: 13pt;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 30px;
    border-style: none;
    cursor: pointer;
    padding: 5px; 
}
.register{
    position: relative;

    letter-spacing: 0.005em;
    color: #FFFFFF;
    font-family: "Avenir", sans-serif;

    font-size: 16px;
    margin-top: 50px;
    
}
.anchor{
    font-family: "Avenir", sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    padding-left: 5px;
    text-decoration: underline;
    border-style: none;
    background: none;
    cursor: pointer;
}
