.play-selectbutton {
    .play-button {
        &:focus {
            background: $toggleButtonActiveBg;
            border-color: $toggleButtonActiveBorderColor;
    
            &.play-highlight {
                background: $toggleButtonActiveHoverBg;
                border-color: $toggleButtonActiveHoverBorderColor;
            }
        }
    }
}