// .play-progressbar {
//     border: $progressBarBorder;
//     height: $progressBarHeight;
//     background: $progressBarBg;
//     border-radius: $borderRadius;

//     .play-progressbar-value {
//         border: 0 none;
//         margin: 0;
//         background: $progressBarValueBg;
//     }

//     .play-progressbar-label {
//         color: $progressBarValueTextColor;
//         line-height: $progressBarHeight;
//     }
// }
.play-card {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}

.play-progress-bar {
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    .play-progress {
        height: 100%;
        background-color: #007bff;
        transition: width 0.5s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: bold;

        .progress-value {
            padding-left: 5px;
        }
    }

    .play-progress-indeterminate {
            animation: indeterminate-animation 2s infinite linear;
            height: 4px;
            border-radius: none;
        }
        
        @keyframes indeterminate-animation {
            0% {
                transform: scaleX(1) translateX(-100%);
            }
            50% {
                transform: scaleX(1) translateX(100%);
            }
            100% {
                transform: scaleX(1) translateX(100%);
            }
        }

}




// PlayCircularProgress.scss

.circular-progress {
    width: 50px;
    height: 50px;
    position: relative;
    // margin: auto;
    margin-right: 80px;
    display: inline-block;
  }
  
  .progress-circle {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(-360deg);
  }
  
  .progress-circle__svg {
    width: 100%;
    height: 100%;
  }
  
  .progress-circle__background {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 3;
  }
  
  .progress-circle__progress {
    fill: none;
    stroke: #3f51b5;
    stroke-width: 4;
    stroke-linecap: round;
    // stroke-dasharray: 0, 100;
    transition: stroke-dasharray 0.5s;
  }
  
  .progress-circle__label {
    font-size: 0.8rem;
    fill: #3f51b5;
    text-anchor: middle;
    font-weight: bold;
    // dominant-baseline: central;
  }
  