<!-- grapesjs.component.html -->
<div class="page-content">
  <div class="flex space-x-6">
    <section class="bg-gray-100 p-8 w-1/2">
      <div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-x-6 gap-x-0 lg:gap-y-0 gap-y-6">
        <div class="card">
          <div class="card-body">
            <h4 class="text-gray-600 text-lg font-semibold mb-6">Recent Activity</h4>
            <ul class="timeline-widget relative">
              <li class="timeline-item flex relative overflow-hidden min-h-[70px]">
                <div class="timeline-time text-gray-600 text-sm min-w-[90px] py-[6px] pr-4 text-end">9:30 am</div>
                <div class="timeline-badge-wrap flex flex-col items-center">
                  <div class="timeline-badge w-3 h-3 rounded-full shrink-0 bg-transparent border-2 border-blue-600 my-[10px]"></div>
                  <div class="timeline-badge-border block h-full w-[1px] bg-gray-100"></div>
                </div>
                <div class="timeline-desc py-[6px] px-4">
                  <p class="text-gray-600 text-sm font-normal">Payment received from John Doe of $385.90</p>
                </div>
              </li>
              <li class="timeline-item flex relative overflow-hidden min-h-[70px]">
                <div class="timeline-time text-gray-600 min-w-[90px] py-[6px] text-sm pr-4 text-end">10:00 am</div>
                <div class="timeline-badge-wrap flex flex-col items-center">
                  <div class="timeline-badge w-3 h-3 rounded-full shrink-0 bg-transparent border-2 border-blue-300 my-[10px]"></div>
                  <div class="timeline-badge-border block h-full w-[1px] bg-gray-100"></div>
                </div>
                <div class="timeline-desc py-[6px] px-4 text-sm">
                  <p class="text-gray-600 font-semibold">Update your profile</p>
                </div>
              </li>
              <li class="timeline-item flex relative overflow-hidden min-h-[70px]">
                <div class="timeline-time text-gray-600 min-w-[90px] text-sm py-[6px] pr-4 text-end">12:00 am</div>
                <div class="timeline-badge-wrap flex flex-col items-center">
                  <div class="timeline-badge w-3 h-3 rounded-full shrink-0 bg-transparent border-2 border-teal-500 my-[10px]"></div>
                  <div class="timeline-badge-border block h-full w-[1px] bg-gray-100"></div>
                </div>
                <div class="timeline-desc py-[6px] px-4">
                  <p class="text-gray-600 text-sm font-normal">Payment was made of $64.95 to Michael</p>
                </div>
              </li>
              <li class="timeline-item flex relative overflow-hidden min-h-[70px]">
                <div class="timeline-time text-gray-600 min-w-[90px] text-sm py-[6px] pr-4 text-end">9:30 am</div>
                <div class="timeline-badge-wrap flex flex-col items-center">
                  <div class="timeline-badge w-3 h-3 rounded-full shrink-0 bg-transparent border-2 border-yellow-500 my-[10px]"></div>
                  <div class="timeline-badge-border block h-full w-[1px] bg-gray-100"></div>
                </div>
                <div class="timeline-desc py-[6px] px-4 text-sm">
                  <p class="text-gray-600 font-semibold">Viewed recent transactions</p>
                </div>
              </li>
              <li class="timeline-item flex relative overflow-hidden min-h-[70px]">
                <div class="timeline-time text-gray-600 text-sm min-w-[90px] py-[6px] pr-4 text-end">9:30 am</div>
                <div class="timeline-badge-wrap flex flex-col items-center">
                  <div class="timeline-badge w-3 h-3 rounded-full shrink-0 bg-transparent border-2 border-red-500 my-[10px]"></div>
                  <div class="timeline-badge-border block h-full w-[1px] bg-gray-100"></div>
                </div>
                <div class="timeline-desc py-[6px] px-4">
                  <p class="text-gray-600 text-sm font-semibold">Payment Done</p>
                </div>
              </li>
              <li class="timeline-item flex relative overflow-hidden">
                <div class="timeline-time text-gray-600 text-sm min-w-[90px] py-[6px] pr-4 text-end">12:00 am</div>
                <div class="timeline-badge-wrap flex flex-col items-center">
                  <div class="timeline-badge w-3 h-3 rounded-full shrink-0 bg-transparent border-2 border-teal-500 my-[10px]"></div>
                  <div class="timeline-badge-border block h-full w-[1px] bg-gray-100"></div>
                </div>
                <div class="timeline-desc py-[6px] px-4">
                  <p class="text-gray-600 text-sm font-normal">Payment Done</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-span-2">
          <div class="card h-full">
            <div class="card-body">
              <h4 class="text-gray-600 text-lg font-semibold mb-6">Recent Transaction</h4>
              <div class="relative overflow-x-auto">
                <table class="text-left w-full whitespace-nowrap text-sm">
                  <thead class="text-gray-700">
                    <tr class="font-semibold text-gray-600">
                      <th class="p-4" scope="col">Id</th>
                      <th class="p-4" scope="col">Account</th>
                      <th class="p-4" scope="col">Currency Type</th>
                      <th class="p-4" scope="col">Transaction Type</th>
                      <th class="p-4" scope="col">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="p-4 font-semibold text-gray-600">1</td>
                      <td class="p-4">
                        <div class="flex flex-col gap-1">
                          <h3 class="font-semibold text-gray-600">Sunil Joshi</h3>
                        </div>
                      </td>
                      <td class="p-4">
                        <span class="font-normal text-gray-500">USD</span>
                      </td>
                      <td class="p-4">
                        <span class="inline-flex items-center py-[3px] px-[10px] rounded-2xl font-semibold bg-blue-600 text-white">Deposit</span>
                      </td>
                      <td class="p-4">
                        <span class="font-semibold text-base text-gray-600">$3.9</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="p-4 font-semibold text-gray-600">2</td>
                      <td class="p-4">
                        <div class="flex flex-col gap-1">
                          <h3 class="font-semibold text-gray-600">Andrew McDownland</h3>
                        </div>
                      </td>
                      <td class="p-4">
                        <span class="font-normal text-gray-500">EUR</span>
                      </td>
                      <td class="p-4">
                        <span class="inline-flex items-center py-[3px] px-[10px] rounded-2xl font-semibold text-white bg-cyan-500">Withdrawal</span>
                      </td>
                      <td class="p-4">
                        <span class="font-semibold text-base text-gray-600">€24.5k</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="p-4 font-semibold text-gray-600">3</td>
                      <td class="p-4">
                        <div class="flex flex-col gap-1">
                          <h3 class="font-semibold text-gray-600">Christopher Jamil</h3>
                        </div>
                      </td>
                      <td class="p-4">
                        <span class="font-normal text-gray-500">EUR</span>
                      </td>
                      <td class="p-4">
                        <span class="inline-flex items-center py-[3px] px-[10px] rounded-2xl font-semibold bg-blue-600 text-white">Deposit</span>
                      </td>
                      <td class="p-4">
                        <span class="font-semibold text-base text-gray-600">€12.8k</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="p-4 font-semibold text-gray-600">4</td>
                      <td class="p-4">
                        <div class="flex flex-col gap-1">
                          <h3 class="font-semibold text-gray-600">Nirav Joshi</h3>
                        </div>
                      </td>
                      <td class="p-4">
                        <span class="font-normal text-sm text-gray-500">USD</span>
                      </td>
                      <td class="p-4">
                        <span class="inline-flex items-center py-[3px] px-[10px] rounded-2xl font-semibold text-white bg-teal-500">Transfer</span>
                      </td>
                      <td class="p-4">
                        <span class="font-semibold text-base text-gray-600">$2.4k</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card" style="margin-top: 20px">
          <div class="card-body">
            <h4 class="text-gray-600 text-lg font-semibold mb-6">Recent Activity</h4>
            <ul class="timeline-widget relative">
              <li class="timeline-item flex relative overflow-hidden min-h-[70px]">
                <div class="timeline-time text-gray-600 text-sm min-w-[90px] py-[6px] pr-4 text-end">9:30 am</div>
                <div class="timeline-badge-wrap flex flex-col items-center">
                  <div class="timeline-badge w-3 h-3 rounded-full shrink-0 bg-transparent border-2 border-blue-600 my-[10px]"></div>
                  <div class="timeline-badge-border block h-full w-[1px] bg-gray-100"></div>
                </div>
                <div class="timeline-desc py-[6px] px-4">
                  <p class="text-gray-600 text-sm font-normal">Payment received from John Doe of $385.90</p>
                </div>
              </li>
              <li class="timeline-item flex relative overflow-hidden min-h-[70px]">
                <div class="timeline-time text-gray-600 min-w-[90px] py-[6px] text-sm pr-4 text-end">10:00 am</div>
                <div class="timeline-badge-wrap flex flex-col items-center">
                  <div class="timeline-badge w-3 h-3 rounded-full shrink-0 bg-transparent border-2 border-blue-300 my-[10px]"></div>
                  <div class="timeline-badge-border block h-full w-[1px] bg-gray-100"></div>
                </div>
                <div class="timeline-desc py-[6px] px-4 text-sm">
                  <p class="text-gray-600 font-semibold">Update your profile</p>
                </div>
              </li>
              <li class="timeline-item flex relative overflow-hidden min-h-[70px]">
                <div class="timeline-time text-gray-600 min-w-[90px] text-sm py-[6px] pr-4 text-end">12:00 am</div>
                <div class="timeline-badge-wrap flex flex-col items-center">
                  <div class="timeline-badge w-3 h-3 rounded-full shrink-0 bg-transparent border-2 border-teal-500 my-[10px]"></div>
                  <div class="timeline-badge-border block h-full w-[1px] bg-gray-100"></div>
                </div>
                <div class="timeline-desc py-[6px] px-4">
                  <p class="text-gray-600 text-sm font-normal">Payment was made of $64.95 to Michael</p>
                </div>
              </li>
              <li class="timeline-item flex relative overflow-hidden min-h-[70px]">
                <div class="timeline-time text-gray-600 min-w-[90px] text-sm py-[6px] pr-4 text-end">9:30 am</div>
                <div class="timeline-badge-wrap flex flex-col items-center">
                  <div class="timeline-badge w-3 h-3 rounded-full shrink-0 bg-transparent border-2 border-yellow-500 my-[10px]"></div>
                  <div class="timeline-badge-border block h-full w-[1px] bg-gray-100"></div>
                </div>
                <div class="timeline-desc py-[6px] px-4 text-sm">
                  <p class="text-gray-600 font-semibold">Viewed recent transactions</p>
                </div>
              </li>
              <li class="timeline-item flex relative overflow-hidden min-h-[70px]">
                <div class="timeline-time text-gray-600 text-sm min-w-[90px] py-[6px] pr-4 text-end">9:30 am</div>
                <div class="timeline-badge-wrap flex flex-col items-center">
                  <div class="timeline-badge w-3 h-3 rounded-full shrink-0 bg-transparent border-2 border-red-500 my-[10px]"></div>
                  <div class="timeline-badge-border block h-full w-[1px] bg-gray-100"></div>
                </div>
                <div class="timeline-desc py-[6px] px-4">
                  <p class="text-gray-600 text-sm font-semibold">Payment Done</p>
                </div>
              </li>
              <li class="timeline-item flex relative overflow-hidden">
                <div class="timeline-time text-gray-600 text-sm min-w-[90px] py-[6px] pr-4 text-end">12:00 am</div>
                <div class="timeline-badge-wrap flex flex-col items-center">
                  <div class="timeline-badge w-3 h-3 rounded-full shrink-0 bg-transparent border-2 border-teal-500 my-[10px]"></div>
                  <div class="timeline-badge-border block h-full w-[1px] bg-gray-100"></div>
                </div>
                <div class="timeline-desc py-[6px] px-4">
                  <p class="text-gray-600 text-sm font-normal">Payment Done</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  
    <section class="bg-gray-100 p-8 w-1/2">
      <div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-x-6 gap-x-0 lg:gap-y-0 gap-y-6">
        <div class="card">
          <div class="card-body">
            <h4 class="text-gray-600 text-lg font-semibold mb-6">Recent Activity</h4>
            <ul class="timeline-widget relative">
              <li class="timeline-item flex relative overflow-hidden min-h-[70px]">
                <div class="timeline-time text-gray-600 text-sm min-w-[90px] py-[6px] pr-4 text-end">9:30 am</div>
                <div class="timeline-badge-wrap flex flex-col items-center">
                  <div class="timeline-badge w-3 h-3 rounded-full shrink-0 bg-transparent border-2 border-blue-600 my-[10px]"></div>
                  <div class="timeline-badge-border block h-full w-[1px] bg-gray-100"></div>
                </div>
                <div class="timeline-desc py-[6px] px-4">
                  <p class="text-gray-600 text-sm font-normal">Payment received from John Doe of $385.90</p>
                </div>
              </li>
              <li class="timeline-item flex relative overflow-hidden min-h-[70px]">
                <div class="timeline-time text-gray-600 min-w-[90px] py-[6px] text-sm pr-4 text-end">10:00 am</div>
                <div class="timeline-badge-wrap flex flex-col items-center">
                  <div class="timeline-badge w-3 h-3 rounded-full shrink-0 bg-transparent border-2 border-blue-300 my-[10px]"></div>
                  <div class="timeline-badge-border block h-full w-[1px] bg-gray-100"></div>
                </div>
                <div class="timeline-desc py-[6px] px-4 text-sm">
                  <p class="text-gray-600 font-semibold">Update your profile</p>
                </div>
              </li>
              <li class="timeline-item flex relative overflow-hidden min-h-[70px]">
                <div class="timeline-time text-gray-600 min-w-[90px] text-sm py-[6px] pr-4 text-end">12:00 am</div>
                <div class="timeline-badge-wrap flex flex-col items-center">
                  <div class="timeline-badge w-3 h-3 rounded-full shrink-0 bg-transparent border-2 border-teal-500 my-[10px]"></div>
                  <div class="timeline-badge-border block h-full w-[1px] bg-gray-100"></div>
                </div>
                <div class="timeline-desc py-[6px] px-4">
                  <p class="text-gray-600 text-sm font-normal">Payment was made of $64.95 to Michael</p>
                </div>
              </li>
              <li class="timeline-item flex relative overflow-hidden min-h-[70px]">
                <div class="timeline-time text-gray-600 min-w-[90px] text-sm py-[6px] pr-4 text-end">9:30 am</div>
                <div class="timeline-badge-wrap flex flex-col items-center">
                  <div class="timeline-badge w-3 h-3 rounded-full shrink-0 bg-transparent border-2 border-yellow-500 my-[10px]"></div>
                  <div class="timeline-badge-border block h-full w-[1px] bg-gray-100"></div>
                </div>
                <div class="timeline-desc py-[6px] px-4 text-sm">
                  <p class="text-gray-600 font-semibold">Viewed recent transactions</p>
                </div>
              </li>
              <li class="timeline-item flex relative overflow-hidden min-h-[70px]">
                <div class="timeline-time text-gray-600 text-sm min-w-[90px] py-[6px] pr-4 text-end">9:30 am</div>
                <div class="timeline-badge-wrap flex flex-col items-center">
                  <div class="timeline-badge w-3 h-3 rounded-full shrink-0 bg-transparent border-2 border-red-500 my-[10px]"></div>
                  <div class="timeline-badge-border block h-full w-[1px] bg-gray-100"></div>
                </div>
                <div class="timeline-desc py-[6px] px-4">
                  <p class="text-gray-600 text-sm font-semibold">Payment Done</p>
                </div>
              </li>
              <li class="timeline-item flex relative overflow-hidden">
                <div class="timeline-time text-gray-600 text-sm min-w-[90px] py-[6px] pr-4 text-end">12:00 am</div>
                <div class="timeline-badge-wrap flex flex-col items-center">
                  <div class="timeline-badge w-3 h-3 rounded-full shrink-0 bg-transparent border-2 border-teal-500 my-[10px]"></div>
                  <div class="timeline-badge-border block h-full w-[1px] bg-gray-100"></div>
                </div>
                <div class="timeline-desc py-[6px] px-4">
                  <p class="text-gray-600 text-sm font-normal">Payment Done</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-span-2">
          <div class="card h-full">
            <div class="card-body">
              <h4 class="text-gray-600 text-lg font-semibold mb-6">Recent Transaction</h4>
              <div class="relative overflow-x-auto">
                <table class="text-left w-full whitespace-nowrap text-sm">
                  <thead class="text-gray-700">
                    <tr class="font-semibold text-gray-600">
                      <th class="p-4" scope="col">Id</th>
                      <th class="p-4" scope="col">Account</th>
                      <th class="p-4" scope="col">Currency Type</th>
                      <th class="p-4" scope="col">Transaction Type</th>
                      <th class="p-4" scope="col">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="p-4 font-semibold text-gray-600">1</td>
                      <td class="p-4">
                        <div class="flex flex-col gap-1">
                          <h3 class="font-semibold text-gray-600">Sunil Joshi</h3>
                        </div>
                      </td>
                      <td class="p-4">
                        <span class="font-normal text-gray-500">USD</span>
                      </td>
                      <td class="p-4">
                        <span class="inline-flex items-center py-[3px] px-[10px] rounded-2xl font-semibold bg-blue-600 text-white">Deposit</span>
                      </td>
                      <td class="p-4">
                        <span class="font-semibold text-base text-gray-600">$3.9</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="p-4 font-semibold text-gray-600">2</td>
                      <td class="p-4">
                        <div class="flex flex-col gap-1">
                          <h3 class="font-semibold text-gray-600">Andrew McDownland</h3>
                        </div>
                      </td>
                      <td class="p-4">
                        <span class="font-normal text-gray-500">EUR</span>
                      </td>
                      <td class="p-4">
                        <span class="inline-flex items-center py-[3px] px-[10px] rounded-2xl font-semibold text-white bg-cyan-500">Withdrawal</span>
                      </td>
                      <td class="p-4">
                        <span class="font-semibold text-base text-gray-600">€24.5k</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="p-4 font-semibold text-gray-600">3</td>
                      <td class="p-4">
                        <div class="flex flex-col gap-1">
                          <h3 class="font-semibold text-gray-600">Christopher Jamil</h3>
                        </div>
                      </td>
                      <td class="p-4">
                        <span class="font-normal text-gray-500">EUR</span>
                      </td>
                      <td class="p-4">
                        <span class="inline-flex items-center py-[3px] px-[10px] rounded-2xl font-semibold bg-blue-600 text-white">Deposit</span>
                      </td>
                      <td class="p-4">
                        <span class="font-semibold text-base text-gray-600">€12.8k</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="p-4 font-semibold text-gray-600">4</td>
                      <td class="p-4">
                        <div class="flex flex-col gap-1">
                          <h3 class="font-semibold text-gray-600">Nirav Joshi</h3>
                        </div>
                      </td>
                      <td class="p-4">
                        <span class="font-normal text-sm text-gray-500">USD</span>
                      </td>
                      <td class="p-4">
                        <span class="inline-flex items-center py-[3px] px-[10px] rounded-2xl font-semibold text-white bg-teal-500">Transfer</span>
                      </td>
                      <td class="p-4">
                        <span class="font-semibold text-base text-gray-600">$2.4k</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card" style="margin-top: 20px">
          <div class="card-body">
            <h4 class="text-gray-600 text-lg font-semibold mb-6">Recent Activity</h4>
            <ul class="timeline-widget relative">
              <li class="timeline-item flex relative overflow-hidden min-h-[70px]">
                <div class="timeline-time text-gray-600 text-sm min-w-[90px] py-[6px] pr-4 text-end">9:30 am</div>
                <div class="timeline-badge-wrap flex flex-col items-center">
                  <div class="timeline-badge w-3 h-3 rounded-full shrink-0 bg-transparent border-2 border-blue-600 my-[10px]"></div>
                  <div class="timeline-badge-border block h-full w-[1px] bg-gray-100"></div>
                </div>
                <div class="timeline-desc py-[6px] px-4">
                  <p class="text-gray-600 text-sm font-normal">Payment received from John Doe of $385.90</p>
                </div>
              </li>
              <li class="timeline-item flex relative overflow-hidden min-h-[70px]">
                <div class="timeline-time text-gray-600 min-w-[90px] py-[6px] text-sm pr-4 text-end">10:00 am</div>
                <div class="timeline-badge-wrap flex flex-col items-center">
                  <div class="timeline-badge w-3 h-3 rounded-full shrink-0 bg-transparent border-2 border-blue-300 my-[10px]"></div>
                  <div class="timeline-badge-border block h-full w-[1px] bg-gray-100"></div>
                </div>
                <div class="timeline-desc py-[6px] px-4 text-sm">
                  <p class="text-gray-600 font-semibold">Update your profile</p>
                </div>
              </li>
              <li class="timeline-item flex relative overflow-hidden min-h-[70px]">
                <div class="timeline-time text-gray-600 min-w-[90px] text-sm py-[6px] pr-4 text-end">12:00 am</div>
                <div class="timeline-badge-wrap flex flex-col items-center">
                  <div class="timeline-badge w-3 h-3 rounded-full shrink-0 bg-transparent border-2 border-teal-500 my-[10px]"></div>
                  <div class="timeline-badge-border block h-full w-[1px] bg-gray-100"></div>
                </div>
                <div class="timeline-desc py-[6px] px-4">
                  <p class="text-gray-600 text-sm font-normal">Payment was made of $64.95 to Michael</p>
                </div>
              </li>
              <li class="timeline-item flex relative overflow-hidden min-h-[70px]">
                <div class="timeline-time text-gray-600 min-w-[90px] text-sm py-[6px] pr-4 text-end">9:30 am</div>
                <div class="timeline-badge-wrap flex flex-col items-center">
                  <div class="timeline-badge w-3 h-3 rounded-full shrink-0 bg-transparent border-2 border-yellow-500 my-[10px]"></div>
                  <div class="timeline-badge-border block h-full w-[1px] bg-gray-100"></div>
                </div>
                <div class="timeline-desc py-[6px] px-4 text-sm">
                  <p class="text-gray-600 font-semibold">Viewed recent transactions</p>
                </div>
              </li>
              <li class="timeline-item flex relative overflow-hidden min-h-[70px]">
                <div class="timeline-time text-gray-600 text-sm min-w-[90px] py-[6px] pr-4 text-end">9:30 am</div>
                <div class="timeline-badge-wrap flex flex-col items-center">
                  <div class="timeline-badge w-3 h-3 rounded-full shrink-0 bg-transparent border-2 border-red-500 my-[10px]"></div>
                  <div class="timeline-badge-border block h-full w-[1px] bg-gray-100"></div>
                </div>
                <div class="timeline-desc py-[6px] px-4">
                  <p class="text-gray-600 text-sm font-semibold">Payment Done</p>
                </div>
              </li>
              <li class="timeline-item flex relative overflow-hidden">
                <div class="timeline-time text-gray-600 text-sm min-w-[90px] py-[6px] pr-4 text-end">12:00 am</div>
                <div class="timeline-badge-wrap flex flex-col items-center">
                  <div class="timeline-badge w-3 h-3 rounded-full shrink-0 bg-transparent border-2 border-teal-500 my-[10px]"></div>
                  <div class="timeline-badge-border block h-full w-[1px] bg-gray-100"></div>
                </div>
                <div class="timeline-desc py-[6px] px-4">
                  <p class="text-gray-600 text-sm font-normal">Payment Done</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
  
</div>
