.play-colorpicker-preview  {
    width: $colorPickerPreviewWidth;
    height: $colorPickerPreviewHeight;
}

.play-colorpicker-panel {
    background: $colorPickerBg;
    border: $colorPickerBorder;

    .play-colorpicker-color-handle,
    .play-colorpicker-hue-handle {
        border-color: $colorPickerHandleColor;
    }
}

.play-colorpicker-overlay-panel {
    box-shadow: $inputOverlayShadow;
}