.play-password {
    &.play-invalid.play-component > .play-inputtext {
        @include invalid-input();
    }
}

.play-password-panel {
    padding: $panelContentPadding;
    background: $panelContentBg;
    color: $panelContentTextColor;
    border: $overlayContentBorder;
    box-shadow: $inputOverlayShadow;
    border-radius: $borderRadius;

    .play-password-meter {
        margin-bottom: $inlineSpacing;
        background: $passwordMeterBg;

        .play-password-strength {
            &.weak {
                background: $passwordWeakBg;
            }

            &.medium {
                background: $passwordMediumBg;
            }

            &.strong {
                background: $passwordStrongBg;
            }
        }
    }
}