.play-divider {
    .play-divider-content {
        background-color: $panelContentBg;
    }

    &.play-divider-horizontal {
        margin: $dividerHorizontalMargin;
        padding: $dividerHorizontalPadding;

        &:before {
            border-top: $dividerSize $dividerColor;
        }

        .play-divider-content {
            padding: 0 $inlineSpacing;
        }
    }

    &.play-divider-vertical {
        margin: $dividerVerticalMargin;
        padding: $dividerVerticalPadding;

        &:before {
            border-left: $dividerSize $dividerColor;
        }

        .play-divider-content {
            padding: $inlineSpacing 0;
        }
    }
}